services:
  web:
    image: fareshamouda/db2migrationservice:latest
    container_name: db2migrationservice
    privileged: true
    # deploy:
    #     resources:
    #       limits:
    #         cpus: '0.05'
    #         memory: '5g'
    ports:
      - "50050:50050"
      - "13080:13080"
      - "14080:14080"
    volumes:
      #- /home/ubuntu/dump/migrations/db2/controller/configs:/app/configs
      - /run
      - /sys/fs/cgroup:/sys/fs/cgroup:ro