**/__pycache__/
fileMigration/data
fileMigration/configs/config1.ini
fileMigration/configs/migrationEngineConfig.ini
deployment/sourceserver/configs/config1.ini
deployment/sourceserver/configs/migrationEngineConfig.ini
deployment/sourceserver/data/*
deployment/sourceserver/configs/migrationEngineConfig1.ini
deployment/reporter/logsParser/unitTest/o*.json
databaseMigration/sourcedatadir/
databaseMigration/targetdatadir/
databaseMigration/backups/*
